<launch>

  <!-- also launch openface-tracker -->
  <include file="$(find openface_tracker)/launch/openface_tracker.launch">
      <arg name="camera_device_arg" value="0" />
      <arg name="show_tracking_arg" value="false" />
  </include>

  <node pkg="signals" type="interface.py" name="interface">
    <param name="icones" value="$(find signals)/share"/>
  </node>
  <node pkg="signals" type="brain.py" name="brain">
  </node>
  <node pkg="signals" type="body.py" name="body">
  </node>


</launch>
