<launch>

  <!-- also launch openface-tracker -->
  <include file="$(find openface_tracker)/launch/openface_tracker.launch">
      <arg name="camera_device_arg" value="0" />
      <arg name="show_tracking_arg" value="true" />
  </include>

  <!--node pkg="signals" type="brain.py" name="brain">
  </node-->
  <node pkg="signals" type="body.py" name="body">
  </node>
  <node pkg="signals" type="main_activity.py" name="main_activity">
  </node>


</launch>
